[phases.setup]
nixPkgs = ["nodejs_18"]

[phases.install]
cmds = ["cd backend && npm ci"]

[phases.build]
cmds = ["cd frontend && npm ci && npm run build"]

[start]
cmd = "cd backend && node src/index.js"
